@if(cartItem()){
  {{cartItem()?.id}}
<li class="flex py-6">
  <div class="size-24 shrink-0 overflow-hidden rounded-md border border-gray-200">
    <img
    src={{image()}}
      alt=""
      class="size-full object-cover">
  </div>

  <div class="ml-4 flex flex-1 flex-col">
    <div>
      <div class="flex justify-between text-base font-medium text-gray-900">
        <h3>
          <a href="#">{{cartItem()?.country?.name?.common}}</a>
        </h3>
        <p class="ml-4">{{cartItem()?.country?.population}}</p>
      </div>
      <!-- <p class="mt-1 text-sm text-gray-500">Salmon</p> -->
    </div>
    <div class="flex flex-1 items-end justify-between text-sm">
      <p class="text-gray-500">Qty {{cartItem()?.quantity}}</p>

      <div class="flex">
        <button type="button"
          class="font-medium text-indigo-600 hover:text-indigo-500" (click)="remove()" >Remove</button>
      </div>
    </div>
  </div>
</li>
}
