.big .item {
  display: flex;
  flex-direction: column;
  max-width: 460px;
}
.media img{
  transition: transform .3s;
  max-width: 100%;
  vertical-align: middle;
}
.media:hover img{
  transform: scale(1.1);
}

@media screen and (min-width: 992px) {
  .big .media {
      max-height: 373px;
  }
  .product_des .media{
    max-height: 350px;
  }
}

@media screen and (min-width: 481px) {
  .products.one .image-show {
      height: 680px;
  }
}
.stars{
  width: 80px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' height='16'%3E%3Cpath d='M12.0006 18.26L4.94715 22.2082L6.52248 14.2799L0.587891 8.7918L8.61493 7.84006L12.0006 0.5L15.3862 7.84006L23.4132 8.7918L17.4787 14.2799L19.054 22.2082L12.0006 18.26Z' fill='rgba(240,187,64,1)'%3E%3C/path%3E%3C/svg%3E");
  background-position-y: top;
  background-repeat: repeat-x;
}
.is_sticky{
  position: sticky;
  top: 2rem;
}
.object-cover{
  min-width: 100%;
  vertical-align: middle;
}

.icon_small::before{
  content: "+";
  position: absolute;
  left: 0;
}
.content-cart{
  display: none;
}
.expand-cart .content-cart{
  display: flex;
}
.expand-cart .icon_small::before{
  content: "-";
}
