<div class="my-6">
  <nav aria-label="Breadcrumb">
    <ol role="list" class="mx-auto flex space-x-2 px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <li>
        <div class="flex items-center">
          <a href="#" class="mr-2 text-sm font-medium text-gray-900">Home</a>
          <svg width="16" height="20" viewBox="0 0 16 20" fill="currentColor" aria-hidden="true"
            class="h-5 w-4 text-gray-300">
            <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
          </svg>
        </div>
      </li>
      <li>
        <div class="flex items-center">
          <a href="#" class="mr-2 text-sm font-medium text-gray-900">
            Men</a>
          <svg width="16" height="20" viewBox="0 0 16 20" fill="currentColor" aria-hidden="true"
            class="h-5 w-4 text-gray-300">
            <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
          </svg>
        </div>
      </li>

      <li class="text-sm">
        <a href="#" aria-current="page" class="font-medium text-gray-500 hover:text-gray-600">Men Slip on Shoes Casual
          witch Arch Support Insoles</a>
      </li>
    </ol>
  </nav>
</div>
<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="relative">
      <div class="is_sticky">
        <span class="text-lg/5 z-10 m-4 font-bold absolute top-0 right-0 p-4 bg-gray-950 text-white">32%<br>DTO</span>
        <div class="relative w-full h-full flex">
          <img src="https://tailwindcss.com/plus-assets/img/ecommerce-images/product-page-02-featured-product-shot.jpg"
            alt="" class="block h-full w-full object-cover">
        </div>
      </div>
    </div>
    <div class="px-4">
      <div class="pl-8">
        <h2 class="text-4xl/8 font-extrabold text-gray-950">
          Men Slip On Shoes Casual with Arch Support Isonles
        </h2>
        <div class="flex gap-4 mt-5 flex-col">
          <div class="flex gap-2 items-center">
            <div class="stars"></div>
            <a href="#" class="font-medium">2,251 reviews</a>
            <a href="" class="text-sm hover:text-indigo-700">Añade tu reseña</a>
          </div>
          <div class="flex gap-2 items-center">
            <span class="font-extrabold rounded-xs text-green-500 text-sm p-2 me-4 bg-neutral-100">In Stock</span>
            <span class="text-xs font-bold text-neutral-500">SKU-881</span>
          </div>
          <div class="flex gap-2 items-center">
            <span class="font-medium text-5xl text-red-400 me-4">$80.90</span>
            <span class="line-through text-neutral-400 text-2xl">$80.90</span>
          </div>
          <div class="flex gap-2 items-center mt-8">
            <div class="flex w-fit border border-gray-200 p-2 me-8">
              <button type="button"
                class="h-10 w-10 cursor-pointer font-medium text-md bg-gray-100 rounded-full hover:bg-gray-200">-</button>
              <input type="text" class="w-12 text-center text-2xl outline-0 border-0" value="1">
              <button type="button"
                class="h-10 w-10 cursor-pointer font-medium bg-gray-100 rounded-full hover:bg-gray-200">+</button>
            </div>
            <div class="flex w-full">
              <button type="button"
                class="flex w-full cursor-pointer items-center justify-center rounded-md border border-transparent bg-indigo-600 px-6 py-3 text-base font-medium text-white shadow-xs hover:bg-indigo-700">Add
                to cart</button>
            </div>
          </div>
          <div class="flex gap-2 items-center mt-8">
            <div class="me-8">
              <button type="button" class="cursor-pointer flex font-bold">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="size-7 me-4">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                </svg>
                <span class="uppercase">Wichlist</span>
              </button>
            </div>
            <div>
              <button type="button" class="cursor-pointer flex font-bold">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="size-7 me-4">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M7.217 10.907a2.25 2.25 0 1 0 0 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186 9.566-5.314m-9.566 7.5 9.566 5.314m0 0a2.25 2.25 0 1 0 3.935 2.186 2.25 2.25 0 0 0-3.935-2.186Zm0-12.814a2.25 2.25 0 1 0 3.933-2.185 2.25 2.25 0 0 0-3.933 2.185Z" />
                </svg>
                <span class="uppercase">Share</span>
              </button>
            </div>
          </div>
          <div class="flex gap-2 mt-8">
            <ul class="w-full">
              <li [ngClass]="{'expand-cart': activeIndex === 1}">
                <button type="button" (click)="toggleAccordion(1)"
                  class="w-full border-t relative cursor-pointer font-bold icon_small border-gray-300 uppercase py-6 px-6 gap-4 text-lg text-left">Information</button>
                <div class="gap-4 text-sm ms-6 mb-8 content-cart">
                  Lorem ipsum, dolor sit amet consectetur adipisicing <br /> elit. Nisi iste blanditiis fuga. Quod quas
                  nostrum
                  libero accusantium ex est magnam voluptatum, impedit<br /> cumque praesentium tempora blanditiis sint
                  labore
                  animi amet dolorum velit voluptatem! Iure iste perspiciatis,<br /> tempora, totam, aliquid sequi non
                  adipisci eum et maiores est inventore facere. Magnam, eius!
                </div>
              </li>
              <li [ngClass]="{'expand-cart': activeIndex === 2}">
                <button type="button" (click)="toggleAccordion(2)"
                  class="w-full border-t relative cursor-pointer font-bold icon_small border-gray-300 uppercase py-6 px-6 gap-4 text-lg text-left">Details</button>
                <div class="gap-4 text-sm ms-6 mb-8 content-cart">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi iste blanditiis fuga. Quod quas nostrum
                  libero accusantium ex est magnam voluptatum, impedit cumque praesentium tempora blanditiis sint labore
                  animi amet dolorum velit voluptatem! Iure iste perspiciatis, tempora, totam, aliquid sequi non
                  adipisci eum et maiores est inventore facere. Magnam, eius!
                </div>
              </li>
              <li [ngClass]="{'expand-cart': activeIndex === 3}">
                <button type="button" (click)="toggleAccordion(3)"
                  class="w-full border-t relative cursor-pointer font-bold icon_small border-gray-300 uppercase py-6 px-6 gap-4 text-lg text-left">Custom</button>
                <div class="gap-4 text-sm ms-6 mb-8 content-cart">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi iste blanditiis fuga. Quod quas nostrum
                  libero accusantium ex est magnam voluptatum, impedit cumque praesentium tempora blanditiis sint labore
                  animi amet dolorum velit voluptatem! Iure iste perspiciatis, tempora, totam, aliquid sequi non
                  adipisci eum et maiores est inventore facere. Magnam, eius!
                </div>
              </li>
              <li [ngClass]="{'expand-cart': activeIndex === 4}">
                <button type="button" (click)="toggleAccordion(4)"
                  class="w-full border-t flex relative cursor-pointer font-bold icon_small border-gray-300 uppercase py-6 px-6 gap-4 text-lg text-left">Reviews<span
                    class="text-xs text-gray-500">2.2k</span>
                </button>
                <div class="gap-4 text-sm ms-6 mb-8 content-cart">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi iste blanditiis fuga. Quod quas nostrum
                  libero accusantium ex est magnam voluptatum, impedit cumque praesentium tempora blanditiis sint labore
                  animi amet dolorum velit voluptatem! Iure iste perspiciatis, tempora, totam, aliquid sequi non
                  adipisci eum et maiores est inventore facere. Magnam, eius!
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="bg-white product_des">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-16 sm:py-24">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900 mb-10 border-b border-gray-200 pb-2">
      Productos relacionados</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-y-8 sm:gap-8">
      <div class="col-span-1 big">
        <div class="rounded-md border-gray-700 item m-auto">
          <div class="media relative overflow-hidden shrink-0">
            <div class="relative">
              <button type="button" class="cursor-pointer rounded-md">
                <img
                  src="https://tailwindcss.com/plus-assets/img/ecommerce-images/product-page-02-featured-product-shot.jpg"
                  alt="Front of men&#039;s Basic Tee in black.">
              </button>
            </div>
          </div>
          <div class="gap-4 flex mt-5 flex-col">
            <div class="flex gap-2 items-center">
              <div class="stars"></div>
              <a href="#" class="font-medium text-xs text-neutral-400">(2,251)</a>
            </div>
            <h3 class="font-medium text-ellipsis title_prod">
              <a href="" class="hover:text-indigo-600 hover:underline">Happy Sailed Womens Summer Boho Floral</a>
            </h3>
            <div class="flex gap-2 items-end">
              <span class="font-medium text-2xl text-red-400 me-2">$80.90</span>
              <span class="line-through text-sm text-neutral-400">$80.90</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-1 big">
        <div class="rounded-md border-gray-700 item m-auto">
          <div class="media relative overflow-hidden shrink-0">
            <div>
              <button type="button" class="cursor-pointer rounded-md">
                <img
                  src="https://tailwindcss.com/plus-assets/img/ecommerce-images/product-page-02-featured-product-shot.jpg"
                  alt="Front of men&#039;s Basic Tee in black.">
              </button>
            </div>
          </div>
          <div class="gap-4 flex mt-5 flex-col">
            <div class="flex gap-2 items-center">
              <div class="stars"></div>
              <a href="#" class="font-medium text-xs text-neutral-400">(2,251)</a>
            </div>
            <h3 class="font-medium text-ellipsis title_prod">
              <a href="" class="hover:text-indigo-600 hover:underline">Happy Sailed Womens Summer Boho Floral</a>
            </h3>
            <div class="flex gap-2 items-end">
              <span class="font-medium text-2xl text-red-400 me-2">$80.90</span>
              <span class="line-through text-sm text-neutral-400">$80.90</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-1 big">
        <div class="rounded-md border-gray-700 item m-auto">
          <div class="media relative overflow-hidden shrink-0">
            <div>
              <button type="button" class="cursor-pointer rounded-md">
                <img
                  src="https://tailwindcss.com/plus-assets/img/ecommerce-images/product-page-02-featured-product-shot.jpg"
                  alt="Front of men&#039;s Basic Tee in black.">
              </button>
            </div>
          </div>
          <div class="gap-4 flex mt-5 flex-col">
            <div class="flex gap-2 items-center">
              <div class="stars"></div>
              <a href="#" class="font-medium text-xs text-neutral-400">(2,251)</a>
            </div>
            <h3 class="font-medium text-ellipsis title_prod">
              <a href="" class="hover:text-indigo-600 hover:underline">Happy Sailed Womens Summer Boho Floral</a>
            </h3>
            <div class="flex gap-2 items-end">
              <span class="font-medium text-2xl text-red-400 me-2">$80.90</span>
              <span class="line-through text-sm text-neutral-400">$80.90</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-1 big">
        <div class="rounded-md border-gray-700 item m-auto">
          <div class="media relative overflow-hidden shrink-0">
            <div>
              <button type="button" class="cursor-pointer rounded-md">
                <img
                  src="https://tailwindcss.com/plus-assets/img/ecommerce-images/product-page-02-featured-product-shot.jpg"
                  alt="Front of men&#039;s Basic Tee in black.">
              </button>
            </div>
          </div>
          <div class="gap-4 flex mt-5 flex-col">
            <div class="flex gap-2 items-center">
              <div class="stars"></div>
              <a href="#" class="font-medium text-xs text-neutral-400">(2,251)</a>
            </div>
            <h3 class="font-medium text-ellipsis title_prod">
              <a href="" class="hover:text-indigo-600 hover:underline">Happy Sailed Womens Summer Boho Floral</a>
            </h3>
            <div class="flex gap-2 items-end">
              <span class="font-medium text-2xl text-red-400 me-2">$80.90</span>
              <span class="line-through text-sm text-neutral-400">$80.90</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
